**/.DS_Store
imgdb/**/*.png
imgdb/**/*.jpg
imgdb/**/*.zip
app/tmp/**
model/*.pt
app/__pycache__
data_augmenter/__pycache__
data/
*.pth
*.
*.zip
*.json
.venv/


# tensorboard
runs/
generated_images/
human_eval/